*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f1f1f1;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

a {
	color: #293d55;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #333;
}

.content {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
h2{
	font-size: 30px;
    font-weight: 600;	
	font-family: 'Poppins', sans-serif;
	margin-bottom:10px;
}
h2 span{
	color:#34a0e1;
	font-size:1.8em;
	vertical-align: -5px;
}
/* Header */
.codrops-header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	z-index: 1000;
	font-size: 1.5em;
}

.codrops-header h1 {
	position: absolute;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	color: #fff;
	z-index: 1000;
	padding: 0;
	margin: 0;
	left: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 100%;
	top: 7%;
}

.codrops-header h1 span {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
}

.codrops-header h1 a {
	color: #eff62b;
}

.codrops-header h1 a:hover,
.codrops-header h1 a:focus {
	color: #fff;
}

.codrops-header h1 span::before,
.codrops-header h1 span::after {
	content: ' ― ';
	font-weight: 200;
}

.codrops-header h1 i {
	display: block;
    font-size: 30px;
    margin: 10px auto 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    opacity: 1,
}
.codrops-header h1 img{
	margin-bottom: 30px;
    max-width: 100%;
    padding: 0 20%;
}
/* To Navigation Style */
.codrops-top {
	width: 100%;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
	padding: 1em 0;
	position: absolute;
	z-index: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.codrops-top a {
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 2px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
	padding: 3em 0;
}

.codrops-demos a {
	font-weight: 700;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5em 0;
	margin: 0 1.5em;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.codrops-demos a.current-demo {
	color: #333;
	border-color: #333;
}

ul.ref {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ref li {
	padding: 1em 0;
}

/* Related demos */
.related {
	text-align: center;
	font-weight: 500;
	padding: 5em 0 4em;
}

.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	border: 1px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-weight: 400;
	font-size: 0.925em;
	padding: 1em 0 0.3em;
	max-width: 300px;
	text-align: left;
}
.store-list-frame.store-list-frame-2{
	background:#fff;
	padding:50px 0;
	margin:0;
}
.store-list-frame.store-list-frame-2 .click-demo{margin-bottom:50px;}
.store-list-frame.store-list-frame-2 ul.store-list > li{width:25%;}
.store-list-frame.store-list-frame-2 .store-title a{font-size:16px;}
@media only screen and (max-width: 767px){
	.store-list-frame.store-list-frame-2 ul.store-list > li{width:100%;}
}
.store-list-frame.store-list-frame-1{
	background:#f7f7f7;
	padding:50px 0;
	margin:0;
}
.store-list-frame.store-list-frame-1 .click-demo{margin-bottom:50px;}
.store-list-frame.store-list-frame-1 .store-title a{font-size:16px;}